html,body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
}

.app, .app>section{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app>section{
    border-top: 2px solid;
    /* gap: 1rem; */
}

._>section::before{
	font: bold 1rem sans-serif;
	padding: 1rem;
	margin: 0 -1rem;
	background:lime;
}

button, .button {
    font-family: roboto, sans-serif;
    background: buttonface;
    border: 1px outset buttonborder;
    padding: .5em 1em;
    border-radius: .2em;
    margin: 0 2px;
    box-shadow: 0 .1em .2em rgba(0,0,0,.2);
}

.keypad, .numpad, .commandpad, .bar {
    /* margin: 0; */
    padding: 1rem;
    display: flex;
    gap: .5rem;
    align-content: stretch;
    /* justify-content: space-evenly; */
}
.keypad.jog {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    flex-direction: column;
    height: 16rem;
    background: darkcyan;
}

.jog>button{font-size: 2rem;flex: 1;padding: 1.5rem;margin: 0;/* border-width: .5rem; *//* border-radius: 1.25rem; */border: navajowhite;}
.bar>button{/* height:2em; *//* width:2em; */flex: 1;}

.numpad.pos {
    /* margin: 1rem; */
    display: flex;
    gap: 1rem;
    background: cadetblue;
}

.numpad.pos>input {
    font-size: 1.2em;
    font: bold 1.25rem monospace;
    flex: 1;
    width: 3em;
    text-align: right;
    border: none;
    background: antiquewhite;
}




.bar{
    padding: 1rem;
    /* margin: 0 -1em; */
    /* display: flex; */
    /* gap: .5rem; */
}

.bar>select {
    flex: 1;
}
input[type="file"] {
    display: none;
}


.jobs.bar {
    background: gold;
}


.commandpad {
    display: flex;
    flex-direction: column;
    flex: 1;
}

textarea {
    flex: 1;
    background: lavender;
    border: none;
}



.connect>.bar {
    background: orange;
}

div#GC {
    font-family: monospace;
}



select.pages {font: bold 1.5em sans-serif;text-transform: uppercase;padding: 1rem;/* background: cornsilk; */border: none;outline: none;}

.numpad {
    padding: 1rem;
}

input {}

.commandpad>input {
    background: lightblue;
    border: none;
}

section.connect{
    border-color: cornflowerblue;
}
section.idle{border-top-color: lime;}
section.run{border-top-color:orange}
section.alarm{border-top-color:red}

/*
option.Connect{background:blue}
option.Idle{background:green}
option.Run{background:orange}
*/
option.Alarm{color:red}



.keypad.home {
    background: darkcyan;
}

.numpad.jog {
    background: darkslategrey;
}

pre#MSG {
    flex: 1;
}